

#navbarNav{
    background-color: blue
}
#texto{
    color: #fff;
    
    font-family: Ggsans,sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.tex{
    font-size: 19px;    
}
#texto1{
    
}